Welcome to my math program!
<br>
What would you like to do? (addition, subtraction, multiplication, division)

<form method="post" action="math"> # post
	<input type="text" name="math_type"> # params
	<br>
What numbers do you want to use?
	<br>
	<input type="integer" name="p1">
	<br>
	<input type="integer" name="p2">
	<br>
	
	<input type="submit">
</form>